<ContainerQuery
  @features={{hash
    wide=(width min=480)
  }}
  local-class="container"
>
  <label for="locale-menu">
    {{t "component.locale-menu.locale-select.label"}}
  </label>

  <select
    data-test-field="Locale"
    id="locale-menu"
    local-class="select"
    {{on "input" this.updateLocale}}
  >
    <option value="" disabled selected>
     {{t "component.locale-menu.locale-select.placeholder"}}
    </option>

    {{#each this.locale.menuOptions as |menuOption|}}
      <option data-test-option value={{menuOption.value}}>
        {{menuOption.label}}
      </option>
    {{/each}}
   </select>
</ContainerQuery>