{{page-title (t "layout.application.title")}}

<header local-class="header">
  <img
    alt={{t "layout.application.logo-alt-text"}}
    local-class="logo"
    src="{{this.rootURL}}/assets/ember-octane_text-treatment.png"
  >

  <div local-class="locale-menu-container">
    <LocaleMenu />
  </div>
</header>

<main local-class="main">
  <h1 local-class="title">
    {{t "layout.application.title"}}
  </h1>

  <p>
    {{t "layout.application.description-1" htmlSafe=true}}
  </p>

  <p>
    {{t "layout.application.description-2" htmlSafe=true}}
  </p>

  {{#each @model as |section|}}
    <div local-class="guide-section-container">
      <GuideSection
        @section={{section}}
      />
    </div>
  {{/each}}
</main>