{{page-title "Ember.js Octane vs Classic Cheat Sheet"}}

<header>
  <img
    alt={{t "layout.application.logo-alt-text"}}
    class="header-logo"
    src="{{this.rootURL}}/assets/ember-octane_text-treatment.png"
  >

  <LocaleMenu />
</header>

<main>
  <h1>{{t "layout.application.title"}}</h1>

  <p class="intro">{{t "layout.application.description-1" htmlSafe=true}}</p>
  <p class="intro">{{t "layout.application.description-2" htmlSafe=true}}</p>

  {{#each @model as |section|}}
    <GuideSection
      @section={{section}}
    />
  {{/each}}
</main>